In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager
plt.style.use('default')
f_path = "C:/windows/Fonts/malgun.ttf"
ko_font = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')
#plt.title('테스트')

In [2]:
from model.synthpop import Synthpop
import numpy as np
import pandas as pd
import glob
from table_evaluator import load_data, TableEvaluator
import sdmetrics

In [3]:
#Data Load

raw = pd.read_csv('C:/Users/82102/OneDrive - dongguk.edu/바탕 화면/캡스톤/data/rawdata.csv')

In [4]:
raw

,저소득층여부,나이,교육수준,혼인상태,가구형태,주택유형,주택점유형태,총생활비,총소득,가구서비스,노인서비스,아동서비스
0,저소득층가구,78,중등,사별,단독,다가구용단독주택,자가,3300,0,이용,이용,해당없음
1,일반가구,75,초등,사별,단독,다가구용단독주택,보증부월세,2868,2064,이용,이용,해당없음
2,일반가구,81,대학,이혼,단독,일반단독주택,자가,1872,1200,이용,이용,해당없음
3,일반가구,61,전문대,유배우,기타,다가구용단독주택,자가,6492,3216,이용,이용,해당없음
4,저소득층가구,83,초등,사별,단독,일반아파트,비가구원명의주택,1020,324,이용,이용,해당없음
...,...,...,...,...,...,...,...,...,...,...,...,...
7860,일반가구,42,전문대,유배우,기타,일반아파트,전세,4608,3630,이용,해당없음,이용
7861,일반가구,46,대학,유배우,기타,일반아파트,자가,8580,5100,미이용,해당없음,이용
7862,일반가구,47,대학,유배우,기타,일반아파트,자가,7140,5500,이용,해당없음,이용
7863,일반가구,48,대학,유배우,기타,일반아파트,전세,6744,10350,미이용,해당없음,미이용
7864,일반가구,59,대학,유배우,기타,일반아파트,전세,6168,7880,미이용,해당없음,해당없음

In [5]:
raw = raw.astype({'저소득층여부':'category',
                  '교육수준':'category',
                  "혼인상태": "category",
                  "가구형태": "category",
                  "주택유형": "category",
                  "주택점유형태": "category",
                  '가구서비스': 'category',
                  '노인서비스': 'category',
                  '아동서비스': 'category'})

In [6]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7865 entries, 0 to 7864
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   저소득층여부  7865 non-null   category
 1   나이      7865 non-null   int64
 2   교육수준    7865 non-null   category
 3   혼인상태    7865 non-null   category
 4   가구형태    7865 non-null   category
 5   주택유형    7865 non-null   category
 6   주택점유형태  7865 non-null   category
 7   총생활비    7865 non-null   int64
 8   총소득     7865 non-null   int64
 9   가구서비스   7865 non-null   category
 10  노인서비스   7865 non-null   category
 11  아동서비스   7865 non-null   category
dtypes: category(9), int64(3)
memory usage: 255.7 KB

# Generate Data_Synthpop

In [7]:
# 변수 타입 지정, 'int', 'float', 'datetime', 'category', 'bool' 만 가능
my_dtypes = {"저소득층여부": "category",
 "나이": "int",
 "교육수준": "category",
 "혼인상태": "category",
 "가구형태": "category",
 "주택유형": "category",
 "주택점유형태": "category",
 "총생활비": "int",
 "총소득": "int",
 '가구서비스': 'category',
 '노인서비스': 'category',
 '아동서비스': 'category'
}

my_dtypes

{'저소득층여부': 'category',
 '나이': 'int',
 '교육수준': 'category',
 '혼인상태': 'category',
 '가구형태': 'category',
 '주택유형': 'category',
 '주택점유형태': 'category',
 '총생활비': 'int',
 '총소득': 'int',
 '가구서비스': 'category',
 '노인서비스': 'category',
 '아동서비스': 'category'}

In [8]:
spop = Synthpop()
spop.fit(raw, dtypes = my_dtypes)

# Create synthetic data
nrow = len(raw)
synthetic_data = spop.generate(nrow)

train_저소득층여부
train_나이
train_교육수준
train_혼인상태
train_가구형태
train_주택유형
train_주택점유형태
train_총생활비
train_총소득
train_가구서비스
train_노인서비스
train_아동서비스
generate_저소득층여부
generate_나이
generate_교육수준
generate_혼인상태
generate_가구형태
generate_주택유형
generate_주택점유형태
generate_총생활비
generate_총소득
generate_가구서비스
generate_노인서비스
generate_아동서비스

In [9]:
synthetic_data

,저소득층여부,나이,교육수준,혼인상태,가구형태,주택유형,주택점유형태,총생활비,총소득,가구서비스,노인서비스,아동서비스
0,저소득층가구,82,중등,유배우,기타,다가구용단독주택,자가,1536,324,이용,이용,해당없음
1,저소득층가구,72,초등,사별,단독,일반단독주택,비가구원명의주택,1116,270,이용,이용,해당없음
2,일반가구,50,대학,이혼,기타,다가구용단독주택,보증부월세,7656,916,미이용,해당없음,해당없음
3,저소득층가구,91,무학,사별,단독,일반단독주택,자가,792,243,이용,이용,해당없음
4,저소득층가구,84,초등,사별,단독,일반단독주택,자가,732,0,이용,이용,해당없음
...,...,...,...,...,...,...,...,...,...,...,...,...
7860,일반가구,81,중등,사별,단독,빌라,자가,1620,0,이용,이용,해당없음
7861,일반가구,40,전문대,유배우,기타,일반아파트,보증부월세,5916,3720,이용,해당없음,이용
7862,저소득층가구,84,초등,유배우,기타,일반아파트,자가,2328,887,이용,이용,해당없음
7863,일반가구,35,대학원(석사),미혼,단독,다세대주택,자가,4440,3952,미이용,해당없음,해당없음
7864,일반가구,55,고등,유배우,기타,일반단독주택,자가,4560,4748,이용,해당없음,이용

In [10]:
synthetic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7865 entries, 0 to 7864
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   저소득층여부  7865 non-null   category
 1   나이      7865 non-null   int32
 2   교육수준    7865 non-null   category
 3   혼인상태    7865 non-null   category
 4   가구형태    7865 non-null   category
 5   주택유형    7865 non-null   category
 6   주택점유형태  7865 non-null   category
 7   총생활비    7865 non-null   int32
 8   총소득     7865 non-null   int32
 9   가구서비스   7865 non-null   category
 10  노인서비스   7865 non-null   category
 11  아동서비스   7865 non-null   category
dtypes: category(9), int32(3)
memory usage: 163.6 KB

In [11]:
synthetic_data.to_csv('synthpop_generate.csv', encoding='UTF-8-sig')